:root {
  color-scheme: light dark;
  a:visited {  color: lime;    }
  a:hover   {  color: hotpink; }
}

.left_scroll {
  height: 98vh;
  position:relative;
  float:left;
  overflow-y: auto;
}

dt { margin-top:1em;  }

dd { margin-left:1em; }

.right_display {
  height: 98vh;
  overflow-y: auto;
}

.first {
    font-size: 1.6em;
    color: red;
}