body {
  background-color: black;
  color:white;
}

.left_scroll {
  height: 100vh;
  position:relative;
  float:left;
  overflow-y: scroll;
}

dt { margin-top:1em;  }

dd { margin-left:1em; }

.right_display {
  height: 100vh;
  overflow-y: auto;
}

